.delete-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    border-radius: 4px;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  

  